{% extends "base.html.twig" %}
{% block body %}
<h1 class="my-4">Hello Readers!</h1>
{% if not posts %}
<p class="text-center">no posts have been made</p>
{% endif %}
{% for post in posts %}
<div class="card mb-2">
    <div class="card-body">
        <a class="card-link" href={{ "/post/" ~ post.id }}>
            <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <p class="card-text">{{ post.body }}</p>
        <p class="card-subtitle text-muted">{{ post.date|date('Y-m-d') }}</p>
    </div>
</div>
{% endfor %}
{% include 'components/pagination.html.twig' %}
{% endblock %}
